
<template>
<div>
  <form class="form form-vertical" autocomplete="off" @submit.prevent="submit"
   v-if="mostrar_forms==true" v-loading="loadingForm" element-loading-text="Cargando Espere...">
    <div class="form-body">
        <div class="row">
          <div class="col-md-10">
                    <div class="x-form-group" :class="{'text-danger': errors.customer_id}">
                    <label class="control-label x-control-label">Cliente&nbsp;&nbsp;  <a href="#" @click.prevent="modal_clientes()">[+ Nuevo]</a></label>
                    <el-select v-model="form.customer_id" size="mini"
                        filterable remote
                        class="border-left rounded-left border-info w-100"
                        popper-class="el-select-customers"
                            dusk="customer_id"
                            placeholder="Escriba el nombre o número de documento del cliente"
                            :remote-method="searchRemoteCustomers"
                            :loading="loading_search">
                            <el-option v-for="option in customers" :key="option.id" :value="option.id" :label="option.description"></el-option>
                    </el-select>
                </div>
            </div>
            <div class="col-md-2">
                <x-form-group label="Fecha Emisión" :error="errors.date">
                    <el-date-picker v-model="form.date" type="date" value-format="yyyy-MM-dd" size="mini" :clearable="false" format="dd-MM-yyyy"></el-date-picker>
                </x-form-group>
            </div>
            
         </div>
  <div class="row">
  
        <div class="col-md-10">
                <div class="x-form-group" :class="{'text-danger': errors.item_id}">
                <label class="control-label x-control-label">
                    Producto&nbsp;&nbsp;  <a href="#" @click="modal_Productos()">[+ Nuevo]</a>
                </label>
                <el-select v-model="form.item_id" size="mini" @change="changeItem"
                    filterable remote
                    class="border-left rounded-left border-info w-100"
                    popper-class="el-select-customers"
                    placeholder="Escriba el nombre del producto"
                    :remote-method="searchRemoteProducts"
                    :loading="loading_search">
                    <el-option v-for="option in products"
                        :key="option.id" :value="option.id" :label="option.description"></el-option>
                </el-select>
            </div>
        </div>
        <div class="col-md-2">
            <x-form-group label="Cantidad">
                <el-input v-model="quantity" size="mini">
                <el-button slot="append" size="mini" icon="el-icon-check" @click="clickAdd()"></el-button>
                </el-input>
            </x-form-group>
        </div>
    </div>
     <div class="row mt-2">
        <div class="col-md-12">
            <div class="table-responsive">
                <table border="0" class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th class="text-center font-weight-bold"></th>
                            <th class="text-left  font-weight-bold">Descripción</th>
                            <th class="text-right font-weight-bold">Cantidad</th>
                        </tr>
                    <tr>
                            <th colspan="7"  class="text-danger text-center" v-if="errors.items">  <i class="el-icon-error"></i> {{errors.items[0]}}</th>

                        </tr>
                    </thead>
                    <tbody v-if="form.items.length > 0">
                        <tr v-for="(row, index) in form.items" :key="index">
                            <td width="30">{{index + 1}}</td>
                             <td width="30" class="text-right">
                                <button type="button" class="btn  btn-sm btn-danger" @click.prevent="clickRemoveItem(index,row.id)">X</button>
                            </td>
                            <td width="600">{{row.description}}</td>
                             <td width="80" class="text-right">
                                <el-input v-model="row.quantity" size="mini"></el-input>
                            </td>
                            

                        </tr>
                    </tbody>
                      
                </table>
            </div>
        </div>
    </div>
     </div>
    <div class="form-actions text-right pt-2">
        <el-button @click.prevent="close()">Cancelar</el-button>
        <el-button type="primary" native-type="submit" :loading="loading_submit">Guardar</el-button>
    </div>
  </form>
  
   <template>
    <el-dialog v-if="showCustomer" title="Registro Clientes" :visible.sync="showCustomer" width="80%">
        <CustomerForm
            @actualizarCustomer="actualizarCustomer"
            :showCustomer.sync="showCustomer">
        </CustomerForm>
    </el-dialog>
    </template>
   <template>
    <el-dialog v-if="showProductos" title="Registro Productos" :visible.sync="showProductos" width="80%">
        <ProductsForms
            :external.sync="external"
             @actualizarProducto="actualizarProducto"
             :showProductos.sync="showProductos">
        </ProductsForms>
    </el-dialog>
    </template>
 </div>
</template>

<style>
.x-form-group .x-control-label {
        display: flex;
        font-size: 13px;
        margin-bottom: 0.125rem;
    }
.el-date-editor.el-input, .el-date-editor.el-input__inner {
     width:100% !important;
}
.w100{
    width:100% !important;
}
label{
    display: inline-block;
    margin-bottom: .0rem !important;
}
</style>
<script>
import _ from "lodash";
import axios from "axios";
import ProductsForms from '../product/form.vue'
import CustomerForm from '../customer/form.vue'
import {deletable} from '../../mixins/deletable'
import moment from 'moment';
export default {
    props: ["recordId", "mostrar_forms"],
    mixins: [deletable],
    components: {ProductsForms,CustomerForm},
  data() {
    return {
    loading_submit: false,
    loadingForm: false,
    resource: "orders",
    Title_Modal:null,
    showProductos:false,
    showDialog2:false,
    showDialog3:false,
    showCustomer:false,
    product_id:null,
    description:null,
    quantity:null,
    eliminados:[],
    nuevos_items:[],
    diferencia:[],
    external:false,
    detail_recurses:[],
    price:null,
    form: [],
    loading_search:false,
    showDialogNewPerson:false,
    showDialogAddItem: false,
    symbol:'S/.',
    customers: [],
    products:[],
    all_products:[],
    all_customers:[],
    array_customer:[],
    array_product:[],
     

    };
  },
  async created() {
      this.initForm()
      this.create();
 
  },

  methods: {
      async actualizarCustomer(data){
      this.form.customer_id=data.id
      this.searchRemoteCustomers(data.names)  
  },
  async actualizarProducto(data) {
     this.description= data.description;
     this.product_id=data.id;
    this.searchRemoteProducts(data.description)
    this.form.item_id=data.id;
    this.quantity=1
    this.clickAdd()
  },
    modal_contrato(){
        this.showContrato=true
    },
    modal_clientes(){
         this.showCustomer=true
    },
    change_method(){
        if(this.form.on_account=="NaN"){
            this.form.on_account=0.00
        }
    },
    modal_Productos(){
        this.showProductos=true;
     },
    mostrar_formCustomer(){
        this.$parent.Registrar_clientes()
    },
   getFormatUnitPriceRow(unit_price){
                return _.round(unit_price, 2)
            },
    clickRemoveItem(index,id) {
        if (this.recordId) {
            this.clickDelete(id)
            this.form.items.splice(index, 1)

        }else{
            this.form.items.splice(index,1)
        }
    },
    actualizar_cantidad(product_id,quantity){

    },
        changeItem() {
        this.item = _.find(this.products, {'id': this.form.item_id});
        this.product_id= this.item.id;
        this.description= this.item.description;
        this.price=parseFloat(_.round(this.item.price,2))
            this.quantity = 1;     
    },

    clickAdd() {
    // let importes= (Math.round(this.price*this.quantity)).toFixed(2);

    this.form.items.push({
        id:0,
        product_id: this.product_id,
        description: this.description,
        nuevo:'SI',
            quantity: this.quantity,

    })
    this.description=null
    this.quantity=0
    },
    searchRemoteCustomers(input) {
        let document_type
        if (input.length > 0) {
            this.loading_search = true
            this.$http.get(`/${this.resource}/search/customers?input=${input}`)
                    .then(response => {
                        this.customers = response.data.customers
                        this.loading_search = false
                        if(this.customers.length == 0){this.filterCustomers()}
                    })
        } else {
            this.customers = this.all_customers
        }

    },
    filterCustomers() {
        this.customers = this.all_customers
    },
        filterProducts() {
        this.products = this.all_products
    },
    searchRemoteProducts(input) {
        console.log(input)
        if (input.length > 0) {
            this.loading_search = true
            this.$http.get(`/${this.resource}/search/products?input=${input}`)
                    .then(response => {
                        this.products = response.data.products
                        this.loading_search = false
                        if(this.products.length == 0){
                            this.filterProducts()
                        }
                    })
        } else {
            this.products = this.all_products
        }
    },
    initForm() {//Declaras los campos de tu tabla
        this.errors = {}
        this.form = {
            id: null,
            date:moment().format('YYYY-MM-DD'),
            customer_id: null,
            items: [],
        }

    },

    async create() {
   // await this.tables()
    if (this.recordId) {
        this.loadingForm=true
         this.$http.get(`/${this.resource}/record/${this.recordId}`).then(response => {
              this.form = response.data.data;
              this.form.customer_id=response.data.data.clientes.id
              let list_product=this.form.items
               this.form.items=[]
              for (let index = 0; index<= list_product.length-1; index++) {
                   this.form.items.push({
                    id:list_product[index].id,
                    product_id:list_product[index].product_id,
                    description: list_product[index].product.description,
                    nuevo:'SI',
                    quantity:list_product[index].quantity,
 
                })
              }
             

              this.searchRemoteCustomers(response.data.data.clientes.dni)  
              this.loadingForm=false

         });
      
    } else {
        this.titleDialog = 'Nueva Venta'; // cambiar formulario
    }
    },

   submit() {
        this.loading_submit = true
        this.$http.post(`/${this.resource}`, this.form)
            .then(response => {
                if (response.data.success) {
                    this.$message.success(response.data.message)
                    //------------------------------------------
                    this.close()
                } else {
                    this.$message.error(response.data.message)
                }
            })
            .catch(error => {
                if (error.response.status === 422) {
                    this.errors = error.response.data.error
                } else {
                    console.log(error)
                 }
            })
            .then(() => {
                this.loading_submit = false
            })
            },
    close() {
        this.errors=[]
        this.active=0
        this.$parent.titleDialog="Lista de Pedidos"
        this.$emit('update:mostrar_forms', false)
        this.$emit('update:recordId', 0);
        this.initForm()
    },
     clickDelete(id) {
        this.delete_destroy(`/${this.resource}/detail/${id}`) 
    },
  }
};
</script>
