<template>
  <div class="content-wrapper">
            <div class="content-body">
                <!-- card actions section start -->
                <section id="card-actions">

                    <!-- Info table about action starts -->
                    <div class="row d-flex align-items-center">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header bg-primary  pt-1 pb-1">
                                    <h4 class="card-title text-white"><i class="feather icon-grid"></i>{{titleDialog}}</h4>
                                    
                                </div>
                                <div class="card-content collapse show">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                 <form autocomplete="off" @submit.prevent="submit"  v-loading="loadingForm" element-loading-text="Cargando Espere...">
                                                    <div class="row">
                                                      <div class="col-md-12">
                                                          <div class="row">
                                                              <div class="col-md-4">
                                                                      <x-form-group label="Nombres y Apellidos" :error="errors.name">
                                                                        <el-input v-model="form.name">
                                                                        </el-input>
                                                                        </x-form-group>
                                                              </div>
                                                                <div class="col-md-4">
                                                                      <x-form-group label="Documento de Identidad" :error="errors.pers_chdocide">
                                                                        <el-input v-model="form.pers_chdocide">
                                                                        </el-input>
                                                                        </x-form-group>
                                                              </div>  <div class="col-md-4">
                                                                      <x-form-group label="Celular" :error="errors.pers_chcelper">
                                                                        <el-input v-model="form.pers_chcelper">
                                                                        </el-input>
                                                                        </x-form-group>
                                                              </div>  <div class="col-md-4">
                                                                      <x-form-group label="Direccion" :error="errors.pers_chdirper">
                                                                        <el-input v-model="form.pers_chdirper">
                                                                        </el-input>
                                                                        </x-form-group>
                                                              </div>
                                                                    <div class="col-md-4">
                                                                        <x-form-group label="Correo electrónico" :error="errors.email">
                                                                          <el-input v-model="form.email"></el-input>
                                                                        </x-form-group>
                                                                    </div>  
                                                                    <div class="col-md-4" >
                                                                          <x-form-group label="Nuevo Passwod" :error="errors.new_password">
                                                                            <el-input v-model="form.new_password" show-password></el-input>
                                                                          </x-form-group>
                                                                    </div>
                                                                     <div class="col-md-4" >
                                                                          <x-form-group label="Nivel de Usuario" :error="errors.nive_f_incodniv">
                                                                              <el-select v-model="form.nive_f_incodniv" clearable >
                                                                                <el-option
                                                                                    v-for="item in array_nivel"
                                                                                    :key="item.id"
                                                                                    :label="item.nive_chnomniv"
                                                                                    :value="item.id">
                                                                                </el-option>
                                                                            </el-select>
                                                                          </x-form-group>
                                                                    </div>
                                                                    <div class="col-md-4" >
                                                                          <x-form-group label="Tipo de Usuario" :error="errors.tipo_f_incodusu">
                                                                              <el-select v-model="form.tipo_f_incodusu" clearable >
                                                                                <el-option
                                                                                    v-for="item in array_tipousuario"
                                                                                    :key="item.id"
                                                                                    :label="item.tipo_chnomusu"
                                                                                    :value="item.id">
                                                                                </el-option>
                                                                            </el-select>
                                                                          </x-form-group>
                                                                    </div>
                                                                     <div class="col-md-4">
                                                                          <x-form-group label="Facultad" :error="errors.facu_f_incodfac">
                                                                              <el-select v-model="form.facu_f_incodfac" clearable >
                                                                                <el-option
                                                                                    v-for="item in array_facultad"
                                                                                    :key="item.id"
                                                                                    :label="item.facu_chnomfac"
                                                                                    :value="item.id">
                                                                                </el-option>
                                                                            </el-select>
                                                                          </x-form-group>
                                                                    </div>  
                                                              </div>
                                                          </div>
                                                        
                                                      </div>
                                                <div class="form-actions text-right mt-0">
                                                    <el-button type="primary"  :loading="loading_submit" @click="submit()">Guardar</el-button>
                                                </div>
                                         </form>
                                            </div>
                                        </div>
                                          
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Info table about action Ends -->
                </section>
                <!-- // card-actions section end -->

            </div>
        </div>      
</template>

 

<script>
 //const cityOptions = [];

import {functions} from '../../mixins/functions'
import { Loading } from 'element-ui';

import _ from "lodash";
export default {
  mixins: [functions],
  props: ["recordId", "mostrar_form"],
  data() {
    return {
      loading_submit: false,
      loadingForm:false,  
      resource: "user",
      titleDialog:'Modificar Perfil',
      errors:[],
      array_roles:[],
      array_nivel:[],
      array_tipousuario:[],
      array_facultad:[],
      form: {},
      cityOptions:[],
         checkAll: false,
        cities: this.cityOptions,
        isIndeterminate: false
    };
  },

  async created() {
      this.initForm()
      this.create();
      //this.cargar_tables()
  },

  methods: {
    async cargar_tables() {
      await this.$http.get(`/${this.resource}/tables`).then(response => {
        this.array_roles = response.data;
      });
        this.cityOptions=[]
        this.form.checkedRoles=[];
        let ii=-1;
         for (let i = 0; i < this.array_roles.length; i++) {
          this.cityOptions.push(this.array_roles[i].name)
      //    this.form.checkedRoles.push(this.array_roles[ii].name)
       }
       this.cities= this.cityOptions;
        this.form.checkedRoles=[]
    }
     ,
    
    initForm() {
       this.errors = {}
        this.form = {
            id: null,
            name: null,
            email: null,
            password:null,
            tipo_f_incodusu:null, 
            nive_f_incodniv:null, 
            facu_f_incodfac:null, 
            pers_chdocide:null,
            pers_chcelper:null,
            pers_chdirper:null,
        }
    },
    async create() {
        this.loadingForm = true;
         const response=await this.$http.get(`/${this.resource}/tables`);
         this.array_tipousuario=response.data.tipousuario;
         this.array_nivel=response.data.niveles;
         this.array_facultad=response.data.facultad;
         const respuesta = await this.$http.get(`/${this.resource}/load_perfil`);
         this.form= respuesta.data,
        this.loadingForm = false;
        
     
      },
      
         submit() {
            this.loading_submit = true
            this.$http.post(`/${this.resource}/save_perfil`, this.form)
            .then(response => {
                if (response.data.success) {
                    this.$message.success(response.data.message)
                } else {
                    this.$message.error(response.data.message)
                }

            })
            .catch(error => {
                if (error.response.status === 422) {
                 //   console.log(error.response.data.error)
                    this.errors = error.response.data.error
                } else {
                    console.log(error)
                 }
            })
            .then(() => {
                this.loading_submit = false
            })
             /*
        this.loading_submit = true
        this.$http.post(`/${this.resource}/save_perfil`, this.form)
            .then(response => {
                if (response.data.success) {
                    this.$message.success(response.data.message)
                   location.reload();
                } else {
                    this.$message.error(response.data.message)
                }
                
            })
            .catch(error => {
                if (error.response.status === 422) {
                    this.errors = error.response.data.errors
                } else {
                    console.log(error)
                 }
            })
            .then(() => {
                this.loading_submit = false
            })
            */
    },
    close() {
      this.active = 0;
      this.$emit("update:mostrar_form", false);
      this.$emit("update:recordId", 0);
      this.initForm();
    } 
    },

  }
</script>
