<template>
<div>
<div class="row page-titles">
    <div class="col-md-5 col-8">
        <h3 class="text-themecolor"> <i class="fa fa-users"></i> Categorias</h3>
    </div>
 <div class="col-md-7 col-4">
      <div class="d-flex m-t-10 justify-content-end">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
        <li class="breadcrumb-item active">Categorias</li>
        </ol>
      </div>  
</div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
               <div class="card-header bg-info text-white">
                <div class="row">
                    <div class="col-md-10">
                        <i class="fa fa-users"></i>  {{titleDialog}}
                    </div>
                    <div class="col-md-2  d-flex justify-content-end">
                        <a >
                            <el-button icon="el-icon-full-screen" size="mini"></el-button>
                        </a>
                        <a> 
                        <el-tooltip class="item" effect="light" content="Crear Nueva Categoria" placement="bottom">
                            <el-button icon="el-icon-plus" size="mini" @click.prevent="clickCreate()" v-if="!mostrar_form_categoria"></el-button>
                        </el-tooltip>
                        </a>
                    </div>
                </div>
            </div>
             <div class="card-body collapse show">
                 <data-table :resource="resource" :type="type"  v-if="!mostrar_form_categoria">
                    <tr slot="heading">
                        <th  class="text-center">N°</th>
                        <th class="text-center">Categoria</th>   
                    <tr>
                    <tr slot-scope="{index, row}" :class="row.state=='0' ? 'table-danger' : ' ' ">
                        <td class="text-center">{{ index }}</td>
                        <td class="text-center"> {{row.category}}</td>
                        <td class="text-right">
                        <el-button-group>   
                            <el-tooltip class="item" effect="light" content="Modificar Categoria" placement="bottom">
                            <el-button type="primary" icon="el-icon-edit" @click.prevent="clickCreate(row.id)"></el-button>
                            </el-tooltip>
                            <el-tooltip class="item" effect="light" content="Eliminar Categoria" placement="bottom">
                                <el-button type="danger" icon="el-icon-delete" @click.prevent="clickDelete(row.id)"></el-button>
                            </el-tooltip>
                        </el-button-group>
                        </td>
                    </tr>
                </data-table>
                <template>
                    <FormCategory
                    v-if="mostrar_form_categoria"
                    :loadingForm.sync="loadingForm"
                    :recordId.sync="recordId"
                    :mostrar_form_categoria.sync="mostrar_form_categoria">
                    </FormCategory>
                </template>
                 
             </div>
        </div>
    </div>
</div>

    </div>
            
</template>
<style>
.display{
    display:block !important;
}
</style>

<script>
    import FormCategory from './form.vue'
    import DataTable from '../../components/DataTable.vue'
    import {deletable} from '../../mixins/deletable'
    import { Loading } from 'element-ui';
    export default {
        mixins: [deletable],
        components: { DataTable,FormCategory},
        data() {
            return {
                showDialog: false,
                resource: 'category',
                loadingForm:false,
                recordId: null,
                mostrar_form_categoria:false,
                array_products:[],
                type:'1',
                titleDialog:"Listado de Categorias",
                dialogVisible:false,
            }
        },
        async  created() {
           
       },
        methods: {
            clickCreate(recordId = 0) {
                this.mostrar_form_categoria = true;
                if(recordId!=0){
                    this.recordId = recordId;
                    this.loadingForm=true
                    this.titleDialog="Modificar Categoria"
                }else{
                    this.loadingForm=false;
                    this.titleDialog="Registrar Nueva Categoria"   
                }
            },
            clickImportar(){
                this.dialogVisible=true;
            },
            clickDelete(id) {
                this.destroy(`/${this.resource}/baja/${id}`).then(() =>
                    this.$eventHub.$emit('reloadData')
                )
            },
            
        }
    }
</script>
