
<template>
<div>
  <form class="form form-vertical" autocomplete="off" @submit.prevent="submit"
   v-if="mostrar_forms==true" v-loading="loadingForm" element-loading-text="Cargando Espere...">
    <div class="form-body">
        <div class="row">
            
            <div class="col-md-2">
                 <x-form-group label="N° Pedido" :class="{'text-danger': errors.orders_id}">
                        <el-input v-model="form.orders_id"  @focus="modal()"></el-input>
                 </x-form-group>
            </div>
            <div class="col-md-5">
                    <x-form-group label="Cliente" :class="{'text-danger': errors.customer_id}">
                        <el-input v-model="form.customer_id"></el-input>
                    </x-form-group>
            </div>
            <div class="col-md-2">
                <x-form-group label="Fecha Envio" :error="errors.date">
                    <el-date-picker v-model="form.date" type="date" value-format="yyyy-MM-dd" size="mini" :clearable="false" format="dd-MM-yyyy"></el-date-picker>
                </x-form-group>
            </div>
             <div class="col-md-3">
                <x-form-group label="Caja / Paquete" :error="errors.box_id">
                    <el-input size="mini" v-model="form.quantity" class="input-with-select">
                        <el-select v-model="form.box_id" @change="findBox(form.box_id)" size="mini" slot="prepend">
                         <el-option
                        v-for="item in array_box"
                        :key="item.id"
                        :label="item.description"
                        :value="item.id">
                      </el-option>
                        </el-select>
                    </el-input>
            </x-form-group>
            </div>
         </div>
  
     <div class="row mt-2">
        <div class="col-md-12">
            <div class="table-responsive">
                <table border="0" class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th class="text-center font-weight-bold">Accion</th>
                            <th class="text-left  font-weight-bold">Descripción</th>
                            <th class="text-right font-weight-bold">Cantidad</th>
                        </tr>
                   
                    </thead>
                    <tbody v-if="form.items.length > 0">
                        <tr v-for="(row, index) in form.items" :key="index">
                            <td width="30">{{index + 1}}</td>
                             <td width="30" class="text-center">
                                <button type="button" class="btn  btn-sm btn-danger" @click.prevent="clickRemoveItem(index,row.id)">X</button>
                            </td>
                            <td width="600">{{row.description}}</td>
                             <td width="80" class="text-right">
                                <el-input v-model="row.quantity" size="mini"></el-input>
                            </td>
                        </tr>
                    </tbody>
                      
                </table>
            </div>
        </div>
    </div>
     </div>
    <div class="form-actions text-right pt-2">
        <el-button @click.prevent="close()">Cancelar</el-button>
        <el-button type="primary" native-type="submit" :loading="loading_submit">Guardar</el-button>
    </div>
  </form>    
  <ModalPedidos
  @insertarPedido="insertarPedido"
  :showOrder.sync="showOrder">
  </ModalPedidos>
 </div>

</template>

<style>
 
  .input-with-select .el-input-group__prepend {
    background-color: #fff;
  }
.el-input-group__append, .el-input-group__prepend {
    background-color: #F5F7FA;
    color: #909399;
    vertical-align: middle;
    display: table-cell;
    position: relative;
    border: 1px solid #DCDFE6;
    border-radius: 4px;
    padding: 0 20px;
    width: 400px;
    white-space: nowrap;
}
.x-form-group .x-control-label {
        display: flex;
        font-size: 13px;
        margin-bottom: 0.125rem;
    }
.el-date-editor.el-input, .el-date-editor.el-input__inner {
     width:100% !important;
}
.w100{
    width:100% !important;
}
label{
    display: inline-block;
    margin-bottom: .0rem !important;
}
</style>
<script>
import _ from "lodash";
import axios from "axios";
import {deletable} from '../../mixins/deletable'
import ModalPedidos from './modal.vue'
import moment from 'moment';
export default {
    props: ["recordId", "mostrar_forms","showProductos"],
     components: {ModalPedidos},
    mixins: [deletable],
    
  data() {
    return {
    loading_submit: false,
    loadingForm: false,
    resource: "shipping",
    showOrder:false,
    form:[],
    type:1,
    search:{},
    array_form:[],
    array_box:[]

    };
  },
  async created() {
      this.initForm()
      this.tables()
      this.create()
 
  },

  methods: {
      async actualizarCustomer(data){
      this.form.customer_id=data.id
      this.searchRemoteCustomers(data.names)  
  },
  
  insertarPedido(data){
        this.form.orders_id=data.id
        this.form.date=data.date
        this.form.customer_id=data.clientes.names+" "+data.clientes.surnames
      for (let index = 0; index < data.items.length; index++) {
      this.form.items.push({
            id:data.items[index].id,
            product_id: data.items[index].product_id,
            description: data.items[index].product.description,
            quantity: data.items[index].quantity,
        })
        
      }
  },
    modal_contrato(){
        this.showContrato=true
    },
    modal_clientes(){
         this.showCustomer=true
    },
    change_method(){
        if(this.form.on_account=="NaN"){
            this.form.on_account=0.00
        }
    },

 
    clickRemoveItem(index,id) {
        if (this.recordId) {
            this.clickDelete(id)
            this.form.items.splice(index, 1)

        }else{
            this.form.items.splice(index,1)
        }
    },
  
    clickAdd() {
    // let importes= (Math.round(this.price*this.quantity)).toFixed(2);

    this.form.items.push({
        id:0,
        product_id: this.product_id,
        description: this.description,
        nuevo:'SI',
            quantity: this.quantity,

    })
    this.description=null
    this.quantity=0
    },
    searchRemoteCustomers(input) {
        let document_type
        if (input.length > 0) {
            this.loading_search = true
            this.$http.get(`/${this.resource}/search/customers?input=${input}`)
                    .then(response => {
                        this.customers = response.data.customers
                        this.loading_search = false
                        if(this.customers.length == 0){this.filterCustomers()}
                    })
        } else {
            this.customers = this.all_customers
        }

    },
    filterCustomers() {
        this.customers = this.all_customers
    },
    filterProducts() {
        this.products = this.all_products
    },
    searchRemoteProducts(input) {
        console.log(input)
        if (input.length > 0) {
            this.loading_search = true
            this.$http.get(`/${this.resource}/search/products?input=${input}`)
                    .then(response => {
                        this.products = response.data.products
                        this.loading_search = false
                        if(this.products.length == 0){
                            this.filterProducts()
                        }
                    })
        } else {
            this.products = this.all_products
        }
    },
    findBox(id){
          let box_contiene = _.find(this.array_box, {'id': id})
          console.log(id)
          this.form.quantity = box_contiene.quantity
    },
    initForm() {//Declaras los campos de tu tabla
        this.errors = {}
        this.form = {
            id: null,
            date:null,
            customer_id: null,
            box_id:null,
            quantity:null,
            items: [],
        }

    },
    modal(){
        this.showOrder=true
   
    },
    async tables(){
        const response = await this.$http.get(`/${this.resource}/tables`)
       this.array_box=response.data.boxes
     },
    async create() {
    await this.tables()
    if (this.recordId) {
        this.loadingForm=true
         this.$http.get(`/${this.resource}/record/${this.recordId}`).then(response => {
              this.form = response.data.data;
              this.form.orders_id=response.data.data.orders.id
              this.form.box_id=response.data.data.boxes.id
              this.form.quantity=response.data.data.boxes.quantity
              this.form.customer_id=response.data.data.orders.clientes.names+" "+response.data.data.orders.clientes.surnames
              let list_product=this.form.items
               this.form.items=[]
              for (let index = 0; index<= list_product.length-1; index++) {
                   this.form.items.push({
                    id:list_product[index].id,
                    product_id:list_product[index].product_id,
                    description: list_product[index].product.description,
                    nuevo:'SI',
                    quantity:list_product[index].quantity,
 
                })
              }
             

             // this.searchRemoteCustomers(response.data.data.clientes.dni)  
              this.loadingForm=false

         });
      
    } else {
        this.titleDialog = 'Nueva Venta'; // cambiar formulario
    }
    },

   submit() {
        this.loading_submit = true
        this.$http.post(`/${this.resource}`, this.form)
            .then(response => {
                if (response.data.success) {
                    this.$message.success(response.data.message)
                    //------------------------------------------
                    this.close()
                } else {
                    this.$message.error(response.data.message)
                }
            })
            .catch(error => {
                if (error.response.status === 422) {
                    this.errors = error.response.data.error
                } else {
                    console.log(error)
                 }
            })
            .then(() => {
                this.loading_submit = false
            })
            },
    close() {
        this.errors=[]
        this.active=0
        this.$parent.titleDialog="Lista de Envio de Pedidos"
        this.$emit('update:mostrar_forms', false)
        this.$emit('update:recordId', 0);
        this.initForm()
    },
     clickDelete(id) {
        this.delete_destroy(`/${this.resource}/detail/${id}`) 
    },
  }
};
</script>
