<template>
 <div>
<div class="row page-titles">
    <div class="col-md-5 col-8">
        <h3 class="text-themecolor"> <i class="fa fa-users"></i> Envio de Pedidos</h3>
    </div>
 <div class="col-md-7 col-4">
      <div class="d-flex m-t-10 justify-content-end">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
        <li class="breadcrumb-item active">Envio de Pedidos</li>
        </ol>
      </div>  
</div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
               <div class="card-header bg-info text-white">
                <div class="row">
                    <div class="col-md-10">
                        <i class="fa fa-users"></i>  {{titleDialog}}
                    </div>
                    <div class="col-md-2  d-flex justify-content-end">
                        <a >
                            <el-button icon="el-icon-full-screen" size="mini"></el-button>
                        </a>
                        <a> 
                        <el-tooltip class="item" effect="light" content="Crear un Nuevo Producto" placement="bottom">
                            <el-button icon="el-icon-plus" size="mini" @click.prevent="clickCreate()" v-if="!mostrar_forms"></el-button>
                        </el-tooltip>
                        </a>
                    </div>
                </div>
            </div>
             <div class="card-body collapse show">
                <data-table :resource="resource" :type="type"  v-if="!mostrar_forms">
                                <tr slot="heading">
                                    <th  class="text-center">#</th>
                                    <th  class="text-left">N° Pedidos</th>
                                    <th class="text-left">Cliente</th>
                                    <th class="text-left">Fecha</th>
                                     <th class="text-left">Contiene</th>
                                    <th class="text-right">Acciones</th>
                                <tr>
                                <tr slot-scope="{index, row}" :class="row.state=='0' ? 'table-danger' : ' ' ">
                                    <td>{{ index }}</td>
                                    <td class="text-left">{{ row.orders.id }}</td>
                                    <td class="text-left">{{ row.orders.clientes.names}} {{ row.orders.clientes.surnames}}</td>
                                    <td class="text-left">{{ row.date }}</td>
                                     <td class="text-left">{{ row.boxes.quantity }} {{ row.boxes.description }}</td>
                                   <td class="text-right">
                                    <el-button-group>   
                                       <el-tooltip class="item" effect="light" content="Modificar plan Anual" placement="bottom">
                                       <el-button type="primary" icon="el-icon-edit" @click.prevent="clickCreate(row.id)"></el-button>
                                       </el-tooltip>
                                       <el-tooltip class="item" effect="light" content="Dar de Baja plan Anual" placement="bottom">
                                          <el-button type="danger" icon="el-icon-delete" @click.prevent="clickDelete(row.id)"></el-button>
                                       </el-tooltip>
                                    </el-button-group>
                                    </td>
                                </tr>
                            </data-table>
                <template>
                    <OrderForm
                    v-if="mostrar_forms"
                    :loadingForm.sync="loadingForm"
                    :recordId.sync="recordId"
                     :mostrar_forms.sync="mostrar_forms">
                    </OrderForm>
                </template>
                
             </div>
        </div>
    </div>
</div>

    </div>     
</template>
<style>
.display{
    display:block !important;
}
</style>

<script>
    import OrderForm from './form.vue'
    import DataTable from '../../components/DataTable'
    import {deletable} from '../../mixins/deletable'
    import { Loading } from 'element-ui';
    export default {
        mixins: [deletable],
        components: {OrderForm, DataTable},
       data() {
    return {
    titleDialog:"Lista de Envio de Pedidos",    
    loading_submit: false,
    loadingForm: false,
    resource: "shipping",
    Title_Modal:null,
    showDialog2:false,
    showDialog3:false,
    showProductos:false,
    showCustomer:false,
    showContrato:false,
    showDocument:false,
    mostrar_forms:false,
    url_preview:'',
    impuesto:18,
    product_id:null,
    description:null,
    quantity:null,
    eliminados:[],
    nuevos_items:[],
    diferencia:[],
     detail_recurses:[],
    price:null,
    form: [],
    loading_search:false,
    showDialogNewPerson:false,
    showDialogAddItem: false,
    symbol:'S/.',
    type:1,
    customers: [],
    products:[],
    all_products:[],
    all_customers:[],
    array_customer:[],
    array_product:[],
   
    };
  },
        async  created() {
           
       },
        methods: {
            clickReport(){
               this.showDialog=true
            },
              clickReport(){
               this.showDialog=true
            },

         
             mostrar_clientes(array){
                this.$refs.ventas.searchRemoteCustomers(array.number)
                this.$refs.ventas.form.customer_id=array.id
            },
            clickCreate(recordId = 0) {
                this.mostrar_forms = true;
                this.recordId = recordId;
                if(recordId!=0){
                    this.loadingForm=true;
                    this.titleDialog="Modificar Envio de Pedidos"; 
                    console.log(recordId)
                }else{
                     this.titleDialog="Nuevo Envio de Pedidos"; 
                }
            },
          
            clickDelete(id) {
                this.destroy(`/${this.resource}/${id}`).then(() =>
                    this.$eventHub.$emit('reloadData')
                )
            },
            clickReportVentas(){
                 this.showDialog=true
            },
          clickPrint(id){
                //window.open(`/${this.resource}/boletas/${id}`,"Boleta de Venta","width=1000, height=600");
             this.showDocument=true;
             this.url_preview=`/${this.resource}/boletas/${id}`;
            },
            clickAlta(id) {
                this.alta(`/${this.resource}/alta/${id}`).then(() =>
                    this.$eventHub.$emit('reloadData')
                )
            }
            
        }
    }
</script>
