<template>
      <el-dialog v-if="showOrder" title="Listado de Pedidos" 
      :visible.sync="showOrder" width="80%" @close="close">
     
        <data-table :resource="resource" :type="type">
            <tr slot="heading">
                <th  class="text-center">N°</th>
                <th class="text-left">Cliente</th>
                <th class="text-center">Fecha</th>
                <th class="text-center">#</th>
            <tr>
            <tr slot-scope="{index, row}" :class="row.state=='0' ? 'table-danger' : ' ' ">
                <td class="text-center">{{ index+1 }}</td>
                <td class="text-left">{{ row.clientes.names}} {{ row.clientes.surnames}}</td>
                <td class="text-center">{{ row.date }}</td>
                <td class="text-center">
                <el-button-group>   
                    <el-tooltip class="item" effect="light" content="Seleccioar Pedido" placement="bottom">
                        <el-button type="primary" icon="el-icon-check" @click.prevent="clickAdd(row)"></el-button>
                    </el-tooltip>
                </el-button-group>
                </td>
            </tr>
        </data-table>
          
        <div slot="footer" class="dialog-footer">
        <el-button @click="close()">Cerrar</el-button>
        </div>
    </el-dialog>
</template>
<script>
import _ from "lodash";
import axios from "axios";
import moment from 'moment';
import DataTable from '../../components/DataTable.vue'

export default {
    props: ["showOrder"],
    components: {DataTable},
    data() {
    return {
        array_form:[],
        resource:'orders',
        titleDialog:'',
        type:1
    };
  },
  async created() {
    
 
  },

  methods: {
   initForm() {
    this.array_form=[]           
    },
    async create() {
            this.$http.get(`/${this.resource}/pedidos`).then(response => {
            this.array_form=response.data.orders  
          })
    },
    clickAdd(row){
     this.$emit("insertarPedido", row)
     this.close()
    },
    close() {
        this.$emit('update:showOrder', false)
        this.initForm()
    },
    
  }
};
</script>
