<template>
<div>
    <form autocomplete="off" @submit.prevent="submit"  v-loading="loadingForm" element-loading-text="Cargando Espere...">
        <div class="row">
          <div class="col-md-2">
                  <x-form-group label="Código" :error="errors.product_code">
                    <el-input v-model="form.product_code">
                    </el-input>
                  </x-form-group>
          </div>
            <div class="col-md-4">
                  <x-form-group label="Descripción" :error="errors.description">
                    <el-input v-model="form.description">
                    </el-input>
                  </x-form-group>
          </div>
            <div class="col-md-2">
                  <x-form-group label="Talla" :error="errors.size">
                    <el-input v-model="form.size">
                    </el-input>
                  </x-form-group>
          </div>  
          <div class="col-md-3">
                  <x-form-group label="Sexo" :error="errors.gender">
                      <el-radio-group v-model="form.gender">
                        <el-radio-button label="Masculino"></el-radio-button>
                        <el-radio-button label="Femenino"></el-radio-button>
                    </el-radio-group>
                  </x-form-group>
          </div>  
          <div class="col-md-4">
                  <x-form-group label="Color" :error="errors.colour">
                    <el-input v-model="form.colour">
                    </el-input>
                    </x-form-group>
          </div>
          <div class="col-md-4">
              <div class="x-form-group" :class="{'has-danger': errors.categories_id}">
                <label class="x-control-label"> Categoria <span style="cursor:pointer;" @click="clickCategoria()">[+ Nueva Categoria]</span></label>
                <div class="x-control-input">
                    <el-select v-model="form.categories_id" filterable clearable>
                      <el-option
                        v-for="item in array_categoria"
                        :key="item.id"
                        :label="item.category"
                        :value="item.id">
                      </el-option>
                    </el-select>
                </div>
                  <small class="x-form-control-feedback" v-if="errors.categories_id"> <i class="el-icon-error"></i> {{errors.categories_id[0]}}</small>
              </div>
                
          </div>  
          <div class="col-md-4">
            <div class="x-form-group" :class="{'has-danger': errors.brands_id}">
                <label class="x-control-label"> Marca
                  <span style="cursor:pointer;" @click="clickMarca()">[+ Nueva Marca]</span>
                </label>
                <div class="x-control-input">
                    <el-select v-model="form.brands_id" filterable clearable>
                      <el-option
                        v-for="item in array_marca"
                        :key="item.id"
                        :label="item.brand"
                        :value="item.id">
                      </el-option>
                    </el-select>
                </div>
                <small class="x-form-control-feedback" v-if="errors.brands_id"> <i class="el-icon-error"></i> {{errors.brands_id[0]}}</small>
              </div>
                    
          </div>  
                            
                      
            
                            </div>
    <div class="form-actions text-right mt-0">
        <el-button @click.prevent="close()">Cancelar</el-button>
        <el-button type="primary"  :loading="loading_submit" @click="submit()">Guardar</el-button>
    </div>
</form>
   <template>
<el-dialog v-if="mostrar_form_categoria"
  title="Registro de Categorias de Prendas"
  :visible.sync="mostrar_form_categoria"
  :modal="external"
  width="50%">
   <FormCategoria
    
       @actualizarCategoria="actualizarCategoria"
    :mostrar_form_categoria.sync="mostrar_form_categoria">
    </FormCategoria>
   
</el-dialog>
  </template>
   <template>
     <el-dialog   v-if="mostrar_form_marca"
  title="Registro de Marca de Prendas" 
  :visible.sync="mostrar_form_marca"
  :modal="external"
  width="50%">
  <FormMarca 
       @actualizarMarca="actualizarMarca"
    :mostrar_form_marca.sync="mostrar_form_marca">
    </FormMarca>
   
</el-dialog>
  
  </template>
</div>
</template>

<script>
 //const cityOptions = [];
import FormCategoria from '../category/form.vue'
import FormMarca from '../brand/form.vue'
import {functions} from '../../mixins/functions'

import { Loading } from 'element-ui';
import _ from "lodash";
export default {
    mixins: [functions],
    props: ["recordId", "mostrar_forms","showProductos","external"],
    components: {FormCategoria,FormMarca},
  data() {
    return {
      loading_submit: false,
      loadingForm:false,  
      resource: "product", 
      errors: {},
      mostrar_form_categoria:false,
      mostrar_form_marca:false,
      array_roles:[],
      form: {},
       array_roles:[],
      cityOptions:[],
      array_categoria:[],
      array_marca:[],
      checkAll: false,
        cities: this.cityOptions,
        isIndeterminate: false
    };
  },

  async created() {
      this.initForm()
      this.create();
      this.cargar_tables()
      console.log(this.external)
  },

  methods: {
    async cargar_tables() {
      const response = await this.$http.get(`/${this.resource}/tables`)
       this.array_categoria=response.data.category
       this.array_marca=response.data.brand
    },
  async actualizarCategoria(data) {
    this.array_categoria.push(data)
   this.form.categories_id=data.id;
    
  },
  async actualizarMarca(data) {
   this.array_marca.push(data)
   this.form.brands_id=data.id;
    
  },
  
  initForm() {
       this.errors = {}
        this.form = {
            id: null,
            description: null,
            product_code: null,
            size:null,
            gender:'Masculino', 
            colour:null, 
            brands_id:null,   
            categories_id:null,   
        }
    },
    async create() {
     if (this.recordId) {
        this.loadingForm = true;
        const respuesta = await this.$http.get(`/${this.resource}/record/${this.recordId}`);
        this.form =  respuesta.data.data
        this.loadingForm = false;
      }
     
    },
    clickMarca(){
      this.mostrar_form_marca=true  
    },
    clickCategoria(){
      this.mostrar_form_categoria=true
    },
     submit() {
        this.loading_submit = true
        this.$http.post(`/${this.resource}`, this.form)
            .then(response => {
                if (response.data.success) {
                    this.$message.success(response.data.message)
                    this.$emit("actualizarProducto", response.data.data)
                    this.close()
                } else {
                    this.$message.error(response.data.message)
                }
                
            })
            .catch(error => {
                if (error.response.status === 422) {
                    this.errors = error.response.data.error
                } else {
                    console.log(error)
                 }
            })
            .then(() => {
                this.loading_submit = false
            })
            },
    close() {
      this.active = 0;
      this.$emit("update:mostrar_forms", false);
       this.$emit("update:showProductos", false);
      
      this.$emit("update:recordId", 0);
      this.initForm();
    }
  }
};
</script>
