<template>
<div>
<div class="row page-titles">
    <div class="col-md-5 col-8">
        <h3 class="text-themecolor"> <i class="fa fa-users"></i> Envio de Pedidos</h3>
    </div>
 <div class="col-md-7 col-4">
      <div class="d-flex m-t-10 justify-content-end">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
        <li class="breadcrumb-item active">Envio de Pedidos</li>
        </ol>
      </div>  
</div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
               <div class="card-header bg-info text-white">
                <div class="row">
                    <div class="col-md-10">
                        <i class="fa fa-users"></i>  {{titleDialog}}
                    </div>
                    <div class="col-md-2  d-flex justify-content-end">
                        <a >
                            <el-button icon="el-icon-full-screen" size="mini"></el-button>
                        </a>
                        <a> 
                        <el-tooltip class="item" effect="light" content="Crear un Nuevo Producto" placement="bottom">
                            <el-button icon="el-icon-plus" size="mini" @click.prevent="clickCreate()" v-if="!mostrar_forms"></el-button>
                        </el-tooltip>
                        </a>
                    </div>
                </div>
            </div>
             <div class="card-body collapse show">
                 <data-table :resource="resource" :type="type"  v-if="!mostrar_forms">
                    <tr slot="heading">
                        <th  class="text-center">N°</th>
                        <th class="text-center">Descripción</th>
                        <th class="text-center">Codigo Producto</th>
                        <th class="text-center">Talla</th>
                        <th class="text-center">Genero</th>
                        <th class="text-center">Color</th> 
                          
                    <tr>
                    <tr slot-scope="{index, row}" :class="row.state=='0' ? 'table-danger' : ' ' ">
                        <td class="text-center">{{ index }}</td>
                        <td class="text-center"> {{row.description}}</td>
                        <td class="text-center">{{ row.product_code}}</td>
                        <td class="text-center">{{ row.size }}</td>
                        <td class="text-center"> {{row.gender}}</td>
                        <td class="text-center"> {{row.colour}}</td>
                        <td class="text-right">
                        <el-button-group>   
                            <el-tooltip class="item" effect="light" content="Modificar Producto" placement="bottom">
                            <el-button type="primary" icon="el-icon-edit" @click.prevent="clickCreate(row.id)"></el-button>
                            </el-tooltip>
                            <el-tooltip class="item" effect="light" content="Eliminar Producto" placement="bottom">
                                <el-button type="danger" icon="el-icon-delete" @click.prevent="clickDelete(row.id)"></el-button>
                            </el-tooltip>
                        </el-button-group>
                        </td>
                    </tr>
                </data-table>
                <template>
                    <FormProduct
                    v-if="mostrar_forms"
                    :loadingForm.sync="loadingForm"
                    :recordId.sync="recordId"
                    :mostrar_forms.sync="mostrar_forms">
                    </FormProduct>
                </template>
                
             </div>
        </div>
    </div>
</div>

    </div>
            
</template>
<style>
.display{
    display:block !important;
}
</style>

<script>
    import FormProduct from './form.vue'
   
    import DataTable from '../../components/DataTable.vue'
    import {deletable} from '../../mixins/deletable'
    import { Loading } from 'element-ui';
    export default {
        mixins: [deletable],
        components: { DataTable,FormProduct},
        data() {
            return {
                showDialog: false,
                resource: 'product',
                loadingForm:false,
                recordId: null,
                mostrar_forms:false,
                mostrar_form_categoria:false,
                mostrar_form_marca:false,

                array_products:[],
                type:'1',
                titleDialog:"Listado de Envio de Pedidos",
                dialogVisible:false,
            }
        },
        async  created() {
           
       },
        methods: {
            clickCreate(recordId = 0) {
                this.mostrar_forms = true;
                if(recordId!=0){
                    this.recordId = recordId;
                    this.loadingForm=true
                    this.titleDialog="Modificar Envio de Pedidos"
                }else{
                    this.loadingForm=false;
                    this.titleDialog="Nuevo Envio de Pedidos"   
                }
            },
            clickImportar(){
                this.dialogVisible=true;
            },
            clickDelete(id) {
                this.destroy(`/${this.resource}/baja/${id}`).then(() =>
                    this.$eventHub.$emit('reloadData')
                )
            },
            
        }
    }
</script>
