<template>
<div class="content-wrapper">
<div class="content-body">
    <!-- card actions section start -->
    <section id="basic-horizontal-layouts">

        <!-- Info table about action starts -->
        <div class="row justify-content-center">
            <div class="col-md-6 col-12">
                <div class="card mb-0">
                    <div class="card-header bg-primary  pt-1 pb-1">
                        <h4 class="card-title text-white"><i class="fa fa-recycle"></i> {{titleDialog}}</h4>
                        <div class="heading-elements pt-0 mt-0">
                            
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <form id="form" target="_blank" action="contratos/generarpdf" class="form form-vertical" @submit.prevent="generarPdf">
                                        <div class="row">
                                        <div class="col-md-4">
                                           <x-form-group label="Destinatario" :error="errors.tipo_f_incodusu">
                                            <el-select v-model="form.tipo_f_incodusu" clearable  @change="seleccionar_destinatario()">
                                            <el-option
                                                v-for="item in array_tipousuario"
                                                :key="item.id"
                                                :label="item.tipo_chnomusu"
                                                :value="item.id">
                                            </el-option>
                                        </el-select>
                                        </x-form-group>
                                        </div>  
                                           <div class="col-md-4">
                                             <x-form-group label="Facultad" :error="errors.facu_f_incodfac">
                                                <el-select v-model="form.facu_f_incodfac" clearable >
                                                    <el-option
                                                        v-for="item in array_facultad"
                                                        :key="item.id"
                                                        :label="item.facu_chnomfac"
                                                        :value="item.id">
                                                    </el-option>
                                                </el-select>
                                            </x-form-group>
                                        </div>
                                        <div class="col-md-4">
                                              <x-form-group label="Semestre" :error="errors.seme_f_incodaca">
                                                <el-select v-model="form.seme_f_incodaca" clearable :disabled="disabled">
                                                    <el-option
                                                        v-for="item in array_semestre"
                                                        :key="item.id"
                                                        :label="item.seme_chnomaca"
                                                        :value="item.id">
                                                    </el-option>
                                                </el-select>
                                            </x-form-group>
                                        </div>
                                        
                                                  
                                              </div>                                         
                                    <div class="form-actions text-right">
                                        <el-button-group>
                                            <el-button icon="el-icon-delete" :loading="loading_submit" class="submit" type="danger" @click="recycle()">Eliminar</el-button>
                                        </el-button-group>
                                    </div>
                                    </form>
                                    </div>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Info table about action Ends -->
    </section>
    <!-- // card-actions section end -->

</div>
</div> 

</template>
<script>
import moment from 'moment';
export default {
    props: ['showDialog2','Title_Modal'],
data() {
    return {
        form:{
           tipo_f_incodusu:null,
           facu_f_incodfac:null,
           seme_f_incodaca:null 
        },
        disabled:true,
        resource: 'notifications', // nombre tabla
        array_semestre:[],
        array_facultad:[],
        array_tipousuario:[],
        array_nivel:[],
        loading_submit:false,
        titleDialog:'Vaciar Notificaciones Enviadas',
        errors:{}
    }
},
created() {
    this.clickCreate();
},
methods: {
   async clickCreate() {
    const response=await this.$http.get(`/user/tables`);
      this.array_facultad=response.data.facultad;
      this.array_semestre=response.data.semestre;
      this.array_tipousuario=response.data.tipousuario;
      this.array_nivel=response.data.niveles;   
    },
    seleccionar_destinatario(){
        if(this.tipo_f_incodusu=="1"){
            this.disabled=false;
        }else{
           if(this.tipo_f_incodusu=="2"){  
               this.disabled=true;
               this.seme_f_incodaca=0;
        }
        }
    },
    recycle(){
        if(this.form.tipo_f_incodusu==null){
            this.$message.error('Seleccione el Usuario Destinatario las notificaciones');
        }else if(this.form.facu_f_incodfac==null){
            this.$message.error('Seleccione la facultad');
        }else{
          this.$confirm('Desea Eliminar todas las Notificaciones?', 'Warning', {
          confirmButtonText: 'Aceptar',
          cancelButtonText: 'Cancelar',
          type: 'warning'
        }).then(() => {
             this.loading_submit=true;
            this.$http.post(`/${this.resource}/recycle`, this.form)
            .then(response => {
                if (response.data.success==true) {
                  //  console.log(response.data.messsage)
                    this.$message.success(response.data.message)
                } else {
                    this.$message.error(response.data.message)
                }
                this.loading_submit=false; 
            })
              
         // this.loading_submit=false;
        })
        }
    }
}
}
</script>
