<template>
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="row justify-content-end">
                      <div class="col-md-3 align-self-end">
                        <el-select  v-model="search.column" style="width:100%;"
                            placeholder="Opciones"
                            size="mini"
                             @change="changeClearInput">
                            <el-option v-for="(label, key) in columns" :key="key" :value="key" :label="label"></el-option>
                        </el-select>
                    </div>
                     <template v-if="search.column=='date'">
                    <div class="col-md-3 align-self-end">
                        <el-date-picker
                                style="width:100%;"
                                size="mini"
                                v-model="search.value"
                                type="date"
                                placeholder="Buscar"
                                value-format="yyyy-MM-dd"
                                @change="getRecords">
                        </el-date-picker>
                            
                    </div>
                    </template>
                    <template v-else>
                     <div class="col-md-3 align-self-end">
                        <el-input   
                            placeholder="Buscar"
                                size="mini"
                            style="width: 100%;"
                                @input="getRecords"
                            v-model="search.value">
                        </el-input>
                    </div>     
                    </template>
                </div>
            </div>      
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table">
                         <thead>
                        <slot name="heading"></slot>
                        </thead>
                        <tbody>
                        <slot v-for="(row, index) in records" :row="row" :index="customIndex(index)"></slot>
                        </tbody>
                    </table>
                    <div>
                        <el-pagination
                                @current-change="getRecords"
                                layout="total, prev, pager, next"
                                :total="pagination.total"
                                :current-page.sync="pagination.current_page"
                                :page-size="pagination.per_page">
                        </el-pagination>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>
<script>
      import moment from 'moment'
    import queryString from 'query-string'
    import { Loading } from 'element-ui';

    export default {
        props: {
            resource: String,
        },
        data () {
            return {
                search: {
                    column: null,
                    value: null,
                    loading:true,
                },
                array_semestre:[],
                array_facultad:[],
                columns: [],
                records: [],
                pagination: {},
                pickerOptionsDates: {
                    disabledDate: (time) => {
                        time = moment(time).format('YYYY-MM-DD')
                        return this.search.d_start > time
                    }
                },
            }
        },
        computed: {
        },
        created() {
            this.$eventHub.$on('reloadData', () => {
                this.getRecords()
            })


        },
        async mounted () {

            await this.$http.get(`${this.resource}/columns`).then((response) => {
                this.columns = response.data
                this.search.column = _.head(Object.keys(this.columns))
            });
           
            await this.getRecords()
         //    await this.getTables()
        },
        methods: {
            customIndex(index) {
                return (this.pagination.per_page * (this.pagination.current_page - 1)) + index + 1
            },
           changeDisabledDates() {
                this.search.date = null
               
            },
            getRecords() {
                const loading = this.$loading({
                    target:document.querySelector('.table-responsive'),
                    fullscreen:false,
                    text: 'Espere por Favor, Cargando Registros',
                    spinner: 'el-icon-loading',

                });

                return this.$http.get(`${this.resource}/records?${this.getQueryParameters()}`).then((response) => {
                    this.records = response.data.data
                    this.pagination = response.data.meta
                    this.pagination.per_page = parseInt(response.data.meta.per_page)
                    loading.close();
                });
            },
            getQueryParameters() {
                return queryString.stringify({
                    page: this.pagination.current_page,
                    limit: this.limit,
                    ...this.search
                })
            },
            changeClearInput(){
                this.search.value = ''
                this.getRecords()
            }
        }
    }
</script>
