<template>
<form autocomplete="off" @submit.prevent="submit"  v-loading="loadingForm" element-loading-text="Cargando Espere...">
  <div class="row">
      <div class="col-md-10">
          <x-form-group label="Descripción" :error="errors.description">
            <el-input v-model="form.description">
            </el-input>
          </x-form-group>
      </div>
      <div class="col-md-2">
            <x-form-group label="Cantidad" :error="errors.quantity">
              <el-input v-model="form.quantity">
              </el-input>
            </x-form-group>
      </div>
  </div>
  <div class="form-actions text-right mt-0">
      <el-button @click.prevent="close()">Cancelar</el-button>
      <el-button type="primary"  :loading="loading_submit" @click="submit()">Guardar</el-button>
  </div>
</form>
</template>

<script>
 //const cityOptions = [];

import {functions} from '../../mixins/functions'
import { Loading } from 'element-ui';
import _ from "lodash";
export default {
  mixins: [functions],
  props: ["recordId", "mostrar_form"],
  data() {
    return {
      loading_submit: false,
      loadingForm:false,  
      resource: "box", 
      errors: {},
      array_roles:[],
      form: {},
       array_roles:[],
      cityOptions:[],
      checkAll: false,
        cities: this.cityOptions,
        isIndeterminate: false
    };
  },

  async created() {
      this.initForm()
      this.create();
      //this.cargar_tables()
  },

  methods: {
    async cargar_tables() {
      
    },
  initForm() {
       this.errors = {}
        this.form = {
            id: null,
            description: null,
                   }
    },
    async create() {
     if (this.recordId) {
        this.loadingForm = true;
        const respuesta = await this.$http.get(`/${this.resource}/record/${this.recordId}`);
        this.form =  respuesta.data.data
        this.loadingForm = false;
      }
     
    },
     submit() {
        this.loading_submit = true
        this.$http.post(`/${this.resource}`, this.form)
            .then(response => {
                if (response.data.success) {
                    this.$message.success(response.data.message)
                    this.close()
                } else {
                    this.$message.error(response.data.message)
                }
                
            })
            .catch(error => {
                if (error.response.status === 422) {
                    this.errors = error.response.data.error
                } else {
                    console.log(error)
                 }
            })
            .then(() => {
                this.loading_submit = false
            })
            },
    close() {
      this.active = 0;
      this.$emit("update:mostrar_form", false);
      this.$emit("update:recordId", 0);
      this.initForm();
    }
  }
};
</script>
