<template>
    <form autocomplete="off" @submit.prevent="submit"  v-loading="loadingForm" element-loading-text="Cargando Espere...">
                                                    <div class="row">
                                                      <div class="col-md-12">
                                                          <div class="row">
                                                             <div class="col-md-4">
                                                                      <x-form-group label="N° Dni" :error="errors.dni">
                                                                        <el-input v-model="form.dni">
                                                                        </el-input>
                                                                        </x-form-group>
                                                              </div>
                                                              <div class="col-md-4">
                                                                      <x-form-group label="Nombres" :error="errors.names">
                                                                        <el-input v-model="form.names">
                                                                        </el-input>
                                                                        </x-form-group>
                                                              </div>
                                                                <div class="col-md-4">
                                                                      <x-form-group label="Apellidos" :error="errors.surnames">
                                                                        <el-input v-model="form.surnames">
                                                                        </el-input>
                                                                        </x-form-group>
                                                              </div>  
                                                              <div class="col-md-4">
                                                                      <x-form-group label="Dirección" :error="errors.address">
                                                                        <el-input v-model="form.address">
                                                                        </el-input>
                                                                        </x-form-group>
                                                              </div>  
                                                              <div class="col-md-4">
                                                                      <x-form-group label="Celular" :error="errors.phones">
                                                                        <el-input v-model="form.phones">
                                                                        </el-input>
                                                                        </x-form-group>
                                                              </div>
                                                             <div class="col-md-4">
                                                                        <x-form-group label="Correo electrónico" :error="errors.email">
                                                                          <el-input v-model="form.email"></el-input>
                                                                        </x-form-group>
                                                              </div>  
                                                                     
                                                                    
                                                                  </div>
                                                                      </div>
                                                        
                                                                        </div>
                                                <div class="form-actions text-right mt-0">
                                                   <el-button @click.prevent="close()">Cancelar</el-button>
                                                    <el-button type="primary"  :loading="loading_submit" @click="submit()">Guardar</el-button>
                                                </div>
                                         </form>
</template>

<script>
 //const cityOptions = [];

import {functions} from '../../mixins/functions'
import { Loading } from 'element-ui';
import _ from "lodash";
export default {
  mixins: [functions],
  props: ["recordId", "mostrar_form","showCustomer"],
  data() {
    return {
      loading_submit: false,
      loadingForm:false,  
      resource: "customer", 
      errors: {},
      array_roles:[],
      form: {},
       array_roles:[],
      cityOptions:[],
      checkAll: false,
        cities: this.cityOptions,
        isIndeterminate: false
    };
  },

  async created() {
      this.initForm()
      this.create();
      //this.cargar_tables()
  },

  methods: {
    async cargar_tables() {
      
    },
  initForm() {
       this.errors = {}
        this.form = {
            id: null,
            names: null,
            surnames: null,
            address:null,
            email:null, 
            phones:null, 
            dni:null,   
        }
    },
    async create() {
     if (this.recordId) {
        this.loadingForm = true;
        const respuesta = await this.$http.get(`/${this.resource}/record/${this.recordId}`);
        this.form =  respuesta.data.data
        this.loadingForm = false;
      }
     
    },
     submit() {
        this.loading_submit = true
        this.$http.post(`/${this.resource}`, this.form)
            .then(response => {
                if (response.data.success) {
                    this.$message.success(response.data.message)
                    this.$emit("actualizarCustomer", response.data.data)
                    this.close()
                } else {
                    this.$message.error(response.data.message)
                }
                
            })
            .catch(error => {
                if (error.response.status === 422) {
                    this.errors = error.response.data.error
                } else {
                    console.log(error)
                 }
            })
            .then(() => {
                this.loading_submit = false
            })
            },
    close() {
      this.active = 0;
      this.$emit("update:mostrar_form", false);
      this.$emit("update:recordId", 0);
      this.initForm();
    }
  }
};
</script>
